In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gmaps
import gmaps.datasets
import math
from geopy.geocoders import Nominatim
import requests
import urllib2
import simplejson as json
from collections import defaultdict
gmaps.configure(api_key="AIzaSyAZrVQ1H1eTGMz_xt8cFuU4JPj3OY-7E9s")

In [3]:
#nyc business location
ny_business = pd.read_csv('Legally_Operating_Businesses.csv')
nyb = pd.DataFrame(ny_business)
subset = nyb[['Latitude', 'Longitude']]
sub = subset[(subset['Latitude'] > 35)&(subset['Longitude'] < -65)]
nyb_loc = [tuple(x) for x in sub.values]

In [4]:
len(nyb_loc), len(nyb)

(45392, 77891)

In [5]:
#nyb_nonan_location = [t for t in nyb_location if not any(isinstance(n, float) and math.isnan(n) for n in t)]

In [5]:
#sf business location
sf_business = pd.read_csv('sf_business.csv')
sf_business['NAICS Code Description'].unique()
sf_business['Business Location'][:5]

0    3301 BRODERICK ST\nSan Francisco, CA 94123\n(3...
1    2225 JERROLD AVE\nSan Francisco, CA 94124\n(37...
2    180 NEW MONTGOMERY ST\nSan Francisco, CA 94105...
3    540 POWELL ST\nSan Francisco, CA 94108\n(37.78...
4    460 TOWNSEND ST\nSan Francisco, CA 94107\n(37....
Name: Business Location, dtype: object

In [32]:
#ny liquor license location(take out from counties)
ny_liquor = pd.read_csv('NY_Liquor_Authority_Quarterly_List_of_Active_Licenses.csv')
ny_county = ['QUEENS', 'NEW YORK', 'BRONX', 'KINGS']
ny_liquorn = ny_liquor[ny_liquor['County Name (Licensee)'].isin(ny_county)]

In [33]:
len(ny_liquorn)

20535

In [34]:
#ny liquor location
subset = ny_liquorn[['Latitude', 'Longitude']]
sub = subset[(subset['Longitude'] < -65) & (subset['Latitude'] > 35)]
nyl_loc = [tuple(x) for x in sub.values]
len(nyl_loc)

19875

In [69]:
len(sf_liquor)

3071

In [56]:
#sf liquor license locations
#sf_liquor = pd.read_csv('SF_Liquor Authority for restaurant and bars.csv')
#sf_loc = []
for i in range(2519, len(sf_liquor)):
    geolocator = Nominatim()
    address = str(sf_liquor[' PREMISES ADDR'][i])+ ' '+ 'SAN FRANCISCO, CA'
    address = address.strip()
    location = geolocator.geocode(address)
    if location != None:
        if location.latitude > 30 and location.longitude < -110:
            sf_loc.append((location.latitude, location.longitude))

In [70]:
len(sf_loc)

2971

In [59]:
# save sf_loc.csv
df_sfloc = pd.DataFrame(sf_loc)
df_sfloc.to_csv('sf_loc.csv')

In [33]:
# read sf_loc.csv
df_sfloc = pd.read_csv('sf_loc.csv')
sf_loc = []
for i in range(len(df_sfloc)):
    sf_loc.append((df_sfloc['0'][i], df_sfloc['1'][i]))
len(sf_loc)

In [47]:
#save sf_loc_fips
np.save('sf_loc_fips.npy', sf_loc_FIPS)

In [ ]:
#read sf_loc_fips
sf_loc_FIPS = np.load('sf_loc_fips.npy').item()

In [71]:
len(sf_loc), len(nyl_loc)

(2971, 20671)

In [38]:
#get ny fips from coordinates
ny_loc_FIPS = {}
for i in range(len(nyl_loc)):
    url = 'http://data.fcc.gov/api/block/find?format=json&latitude='+str(nyl_loc[i][0])+'&longitude='+str(nyl_loc[i][1])
    res = requests.get(url)
    raw = json.loads(res.text)
    ny_loc_FIPS[nyl_loc[i]] = raw['Block']['FIPS']

In [42]:
#save ny loc fips
np.save('ny_loc_fips.npy', ny_loc_FIPS)

In [ ]:
#read ny loc fips
ny_loc_FIPS = np.load('ny_loc_fips.npy').item()

In [318]:
ny_loc_fips_df = pd.DataFrame(ny_loc_FIPS.items(), columns = ['coor', 'FIPS'])
ny_loc_fips_df['FIPSS'] = ny_loc_fips_df['FIPS'].apply(lambda x : int(x[0:11]))
ny_loc_fips_df.head()

                          coor             FIPS        FIPSS
0        (40.86709, -73.92242)  360610293003000  36061029300
1        (40.72903, -73.99206)  360610057002004  36061005700
2        (40.67167, -73.91396)  360470363001002  36047036300
3        (40.60983, -73.92221)  360470698002005  36047069800
4  (40.78184798, -73.95182618)  360610148021000  36061014802

In [319]:
nydf = nyct.merge(ny_loc_fips_df, how = 'inner', left_on ='GEOID', right_on = 'FIPSS')

In [334]:
nydf.ln.describe(),sfdf.ln.describe()

(count    20069.000000
 mean        26.429867
 std         27.043042
 min          1.000000
 25%          8.000000
 50%         16.000000
 75%         36.000000
 max        161.000000
 Name: ln, dtype: float64, count    2176.000000
 mean       31.174632
 std        23.242190
 min         1.000000
 25%        15.000000
 50%        25.000000
 75%        42.000000
 max        96.000000
 Name: ln, dtype: float64)

In [331]:
nydf['ln'] = nydf.groupby('GEOID')['coor'].transform('count')
nydf['liquordense'] = nydf['ln'] / nydf['ALAND']
nydf['popdense'] = nydf['POP10'] / nydf['ALAND']
nydf['housedense'] = nydf['HU10'] / nydf['ALAND']
nydf.head()

,Unnamed: 0,GEOID,POP10,HU10,ALAND,INTPTLAT,INTPTLONG,coor,FIPS,FIPSS,ln,liquordense,popdense,housedense
0,0,36001001802,3816,2071,1905939,42.669019,-73.820419,"(42.669048029999999, -73.817738210000002)",360010018022007,36001001802,1,5.246758e-07,0.002002,0.001087
1,1,36005000200,4334,1449,455322,40.804573,-73.856859,"(40.811417210000002, -73.856213150000002)",360050002002010,36005000200,2,4.392496e-06,0.009519,0.003182
2,2,36005000200,4334,1449,455322,40.804573,-73.856859,"(40.814148330000002, -73.861350040000005)",360050002001002,36005000200,2,4.392496e-06,0.009519,0.003182
3,3,36005000400,5503,1903,912393,40.808915,-73.850488,"(40.80986, -73.855360000000005)",360050004002007,36005000400,7,7.672133e-06,0.006031,0.002086
4,4,36005000400,5503,1903,912393,40.808915,-73.850488,"(40.809699379999998, -73.852139000000008)",360050004003001,36005000400,7,7.672133e-06,0.006031,0.002086

In [61]:
#sf_loc_fips
sf_loc_FIPS = {}
for i in range(len(sf_loc)):
    url = 'http://data.fcc.gov/api/block/find?format=json&latitude='+str(sf_loc[i][0])+'&longitude='+str(sf_loc[i][1])
    res = requests.get(url)
    raw = json.loads(res.text)
    sf_loc_FIPS[sf_loc[i]] = raw['Block']['FIPS']

In [206]:
sf_loc_fips_df = pd.DataFrame(sf_loc_FIPS.items(), columns = ['coor', 'FIPS'])

In [207]:
sf_loc_fips_df.head(5)

                              coor             FIPS
0  (37.7861501765, -122.412937941)  060750123022004
1      (37.775829, -122.496634286)  060750478012003
2       (37.7660239, -122.4036661)  060750607002013
3       (37.7835366, -122.3988478)  060750178012000
4  (37.7528949167, -122.408851542)  060750229031003

In [210]:
sf_loc_fips_df

                                 coor             FIPS       FIPSS
0     (37.7861501765, -122.412937941)  060750123022004  6075012302
1         (37.775829, -122.496634286)  060750478012003  6075047801
2          (37.7660239, -122.4036661)  060750607002013  6075060700
3          (37.7835366, -122.3988478)  060750178012000  6075017801
4     (37.7528949167, -122.408851542)  060750229031003  6075022903
5     (37.7699513469, -122.448032408)  060750166004004  6075016600
6          (37.7837982, -122.4048887)  060750176011004  6075017601
7             (37.802511, -122.43142)  060750129022000  6075012902
8        (37.7961536429, -122.406286)  060750611003000  6075061100
9          (37.7514846, -122.4182175)  060750209001007  6075020900
10         (37.760356, -122.41857275)  060750208002001  6075020800
11         (37.7907793, -122.4208789)  060750111001006  6075011100
12         (37.7383267, -122.5006987)  060750353005002  6075035300
13    (37.7938413061, -122.406854245)  060750118001002  6075011800
14    (37.7515567755, -122.436233939)  060750212002008  6075021200
15         (37.7852231, -122.4004933)  060750615001048  6075061500
16    (37.7891993171, -122.434004024)  060750135002004  6075013500
17    (37.7893025318, -122.400049077)  060750615001026  6075061500
18       (37.7877488, -122.408974203)  060750123022000  6075012302
19    (37.7892018776, -122.423131347)  060750151001003  6075015100
20           (37.803896, -122.413146)  060750101002010  6075010100
21        (37.78177876, -122.4151826)  060750124012002  6075012401
22         (37.7743521, -122.4378506)  060750164002004  6075016400
23            (37.72178, -122.438799)  060750261001004  6075026100
24    (37.7815847333, -122.409626467)  060750176012002  6075017601
25    (37.7672525918, -122.406207224)  060750177001027  6075017700
26         (37.7830438, -122.4076713)  060750176015004  6075017601
27         (37.7927956, -122.3941615)  060750615001005  6075061500
28    (37.7881607143, -122.433794571)  060750152003002  6075015200
29         (37.7873136, -122.4219578)  060750151002000  6075015100
...                               ...              ...         ...
2146       (37.7812474, -122.4636884)  060750401003004  6075040100
2147         (37.763365, -122.418571)  060750208001001  6075020800
2148     (37.78825825, -122.40933025)  060750121002003  6075012100
2149       (37.7686749, -122.4154253)  060750177002032  6075017700
2150       (37.7812427, -122.4637667)  060750401003004  6075040100
2151        (37.786158, -122.4168984)  060750122011002  6075012201
2152  (37.7828870652, -122.463782348)  060750401003004  6075040100
2153  (37.7593644082, -122.408322673)  060750228012000  6075022801
2154       (37.7880585, -122.4108945)  060750121002002  6075012100
2155  (37.7644362653, -122.421736245)  060750201004007  6075020100
2156     (37.7638957, -122.507806306)  060750352021008  6075035202
2157  (37.7940426667, -122.413059444)  060750112001004  6075011200
2158       (37.7696028, -122.4487896)  060750166002004  6075016600
2159        (37.7878074, -122.411304)  060750123022001  6075012302
2160          (37.799705, -122.40836)  060750106003004  6075010600
2161        (37.8001367, -122.437944)  060750128001001  6075012800
2162       (37.7858321, -122.4287696)  060750155001001  6075015500
2163         (37.771578, -122.416869)  060750177002016  6075017700
2164        (37.772102, -122.4314399)  060750168011001  6075016801
2165       (37.7976129, -122.4056012)  060750106002005  6075010600
2166        (37.791425, -122.4037619)  060750117001025  6075011700
2167         (37.770036, -122.413232)  060750177002005  6075017700
2168  (37.8007877755, -122.409151408)  060750106003001  6075010600
2169       (37.7378024, -122.4690204)  060750308003003  6075030800
2170       (37.7879107, -122.4405971)  060750153002005  6075015300
2171  (37.7867203448, -122.412583345)  060750123022004  6075012302
2172       (37.7514343, -122.4300465)  060750214003000  6075021400
2173  (37.7602859796, -122.507195408)  060750352023004  6075035202
2174  (37.7753300408, -122.402874408)  060750180002012  6075018000
2175  (37.7641468776, -122.465683347)  060750302021001  6075030202

[2176 rows x 3 columns]

In [77]:
nylm = gmaps.Map()
#nyb_layer = gmaps.symbol_layer(nyb_nonan_location[:500], fill_color = 'red', stroke_color = 'red', scale = 1)
marker_location = [(40.748440, -73.985654)]
marker = gmaps.marker_layer(marker_location)
#nyb_hm = gmaps.Heatmap(data = nyb_loc)
nyl_hm = gmaps.Heatmap(data = nyl_loc)
nyl_hm.point_radius = 13
#nyb_hm.point_radius = 5
nyl_hm.opacity = 0.75
#nyb_hm.opacity = 0.75
#m.add_layer(gmaps.Heatmap(data = nyb_nonan_location))
nylm.add_layer(nyl_hm)
#m.add_layer(nyb_hm)
nylm

In [78]:
sflm = gmaps.Map()
sfl_hm = gmaps.Heatmap(data = sf_loc)
sfl_hm.point_radius = 20
sfl_hm.opacity = 0.75
sflm.add_layer(sfl_hm)
sflm

NameError: name 'sf_loc' is not defined

In [62]:
#ny demographic data laundry
ny_rent = pd.read_csv('ny_Median Gross Rent.csv')
ny_as = pd.read_csv('ny_Sex and Age.csv')
ny_marry = pd.read_csv('nyMarital Status.csv')
#nyb = pd.DataFrame(ny_business)
#subset = nyb[['Latitude', 'Longitude']]
#sub = subset[(subset['Latitude'] > 35)&(subset['Longitude'] < -65)]
#nyb_loc = [tuple(x) for x in sub.values]

/opt/conda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,3,4,5,7,8,9,10,12,13,14,16,17,18,20,21,22,24,25,26,28,29,30,32,33,34,36,37,38,40,41,42,44,45,46,48,49,50,52,53,54,56,57,58,60,61,62,64,65,66,68,72,73,74,76,77,78,80,81,82,84,85,86,88,89,90,92,93,94,96,97,98,100,101,102,104,105,106,108,109,110,112,113,114,116,117,118,120,121,122,124,125,126,128,129,130,132,133,134,136,137,138,140,141,142,144,145,146,148,149,150,152,153,154,156,157,158,160,161,162,164,165,166,168,169,170,172,173,174,176,177,178,180,181,182,184,185,186,188,189,190,192,193,194,196,197,198,200,201,202,204,205,206,208,209,210,212,213,214,216,217,218,220,221,222,224,225,226,228,229,230,232,233,234,236,237,238,240,241,242,244,245,246,248,249,250,252,253,254,256,257,258,260,261,262,264,265,266,268,269,270,272,273,274,276,277,278,280,281,282,284,285,286,288,289,290,292,293,294,296,297,298,300,301,302,304,305,306,308,309,310,312,313,314,316,317,318,320,321,322,324,325,328,329,330,332,333,334,336,337,338) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,3,4,5,6,16,17,28,29,40,41,52,53,64,65,76,77,88,89,100,101,112,113,124,125,136,137,148,149,160,161,172,173,184,185,196,197,208,209,220,221,232,233,244,245,256,257,268,269,280,281,292,293,304,305,316,317,328,329,340,341,352,353) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [343]:
#sf demographic data laundry
sf_rent = pd.read_csv('sf_median_gross_rent.csv')
#sf_as = pd.read_csv('sf_age_group.csv')
#sf_marry = pd.read_csv('sf_marital.csv')

In [347]:
sf_rent = pd.read_csv('sf_median_gross_rent.csv')
sf_rent = sf_rent[1:]
sf_rent['GEOID'] = sf_rent['GEO.id2'].apply(lambda x : int(x[:10]))
del sf_rent['GEO.id']
del sf_rent['GEO.display-label']
del sf_rent['HD02_VD01']
sf_rent.head()

       GEO.id2 HD01_VD01       GEOID
1  60750101001      1861  6075010100
2  60750101002      1367  6075010100
3  60750102001      1825  6075010200
4  60750102002      2226  6075010200
5  60750102003      2058  6075010200

In [361]:
sfdf = pd.read_csv('sfdf.csv')

In [376]:
sf_rent['HD01_VD01'].describe()

count     563
unique    472
top         -
freq       22
Name: HD01_VD01, dtype: object

In [375]:
sf_rent['HD01_VD01'].astype(int)

ValueError: invalid literal for long() with base 10: '-'

In [357]:
sfdf = pd.merge(sfdf, sf_rent, how = 'left', on =['GEOID'])

In [365]:
len(sfdf.GEOID.unique())

160

In [340]:
del sf_rent['HD02_VD01']
sf_rent.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,GEOID
1,1500000US060750101001,60750101001,"Block Group 1, Census Tract 101, San Francisco...",1861,6075010100
2,1500000US060750101002,60750101002,"Block Group 2, Census Tract 101, San Francisco...",1367,6075010100
3,1500000US060750102001,60750102001,"Block Group 1, Census Tract 102, San Francisco...",1825,6075010200
4,1500000US060750102002,60750102002,"Block Group 2, Census Tract 102, San Francisco...",2226,6075010200
5,1500000US060750102003,60750102003,"Block Group 3, Census Tract 102, San Francisco...",2058,6075010200

In [305]:
#census tract area and population info
nyct = pd.read_csv('nyct.txt', sep = '\t')
#sfct = pd.read_csv('sfct.txt', sep = '\t')
#del sf_rent['GEO.display-label']
#sfdf.merge(sf_rent, how = 'inner', left_on = 'GEOID', right_on = 'GEO.id2')
#sfdf.head()

In [310]:
nyct.GEOID[0]

36001000100

In [212]:
sfdf = sfct.merge(sf_loc_fips_df, how = 'inner', left_on ='GEOID', right_on = 'FIPSS')

In [211]:
len(str(sfct.GEOID[1100])),len(str(sf_loc_fips_df.FIPSS[100]))

(10, 10)

In [216]:
sfdf.groupby('GEOID')['coor'].transform('count')

count    2176.000000
mean       31.174632
std        23.242190
min         1.000000
25%        15.000000
50%        25.000000
75%        42.000000
max        96.000000
Name: coor, dtype: float64

In [337]:
#del sfdf['ALAND_SQMI']
#sfdf['liquordense'] = sfdf['ln'] / sfdf['ALAND']
#sfdf['popdense'] = sfdf['POP10'] / sfdf['ALAND']
sfdf['housedense'] = sfdf['HU10'] / sfdf['ALAND']
sfdf.head()

,Unnamed: 0,GEOID,POP10,HU10,ALAND,INTPTLAT,INTPTLONG,coor,FIPS,FIPSS,ln,liquordense,popdense,housedense
0,0,6075010100,3739,2267,776482,37.80842,-122.408579,"(37.803896, -122.413146)",60750101002010,6075010100,45,0.000058,0.004815,0.00292
1,1,6075010100,3739,2267,776482,37.80842,-122.408579,"(37.8064211, -122.4158162)",60750101001023,6075010100,45,0.000058,0.004815,0.00292
2,2,6075010100,3739,2267,776482,37.80842,-122.408579,"(37.8054894117647, -122.411988794118)",60750101002005,6075010100,45,0.000058,0.004815,0.00292
3,3,6075010100,3739,2267,776482,37.80842,-122.408579,"(37.8082102857, -122.41517022399999)",60750101001011,6075010100,45,0.000058,0.004815,0.00292
4,4,6075010100,3739,2267,776482,37.80842,-122.408579,"(37.809474200000004, -122.4118508)",60750101001001,6075010100,45,0.000058,0.004815,0.00292

In [338]:
#save sf dataframe
sfdf.to_csv('sfdf.csv')
nydf.to_csv('nydf.csv')

In [46]:
#read ny dataframe
sfdf = pd.read_csv('sfdf.csv')
nydf = pd.read_csv('nydf.csv')
nydf.head()

,Unnamed: 0,GEOID,POP10,HU10,ALAND,INTPTLAT,INTPTLONG,coor,FIPS,FIPSS
0,0,36001001802,3816,2071,1905939,42.669019,-73.820419,"(42.669048029999999, -73.817738210000002)",360010018022007,36001001802
1,1,36005000200,4334,1449,455322,40.804573,-73.856859,"(40.811417210000002, -73.856213150000002)",360050002002010,36005000200
2,2,36005000200,4334,1449,455322,40.804573,-73.856859,"(40.814148330000002, -73.861350040000005)",360050002001002,36005000200
3,3,36005000400,5503,1903,912393,40.808915,-73.850488,"(40.80986, -73.855360000000005)",360050004002007,36005000400
4,4,36005000400,5503,1903,912393,40.808915,-73.850488,"(40.809699379999998, -73.852139000000008)",360050004003001,36005000400

In [47]:
#read sf dataframe
#sfdf = pd.read_csv('sfdf.csv')
#sfdf.columns
sfdfc = sfdf.groupby('GEOID')['INTPTLAT', 'INTPTLONG                                                                                                                  ', 'liquordense', 'popdense', 'housedense'].first().reset_index()
nydfc = nydf.groupby('GEOID')['INTPTLAT', 'INTPTLONG                                                                                                                  ', 'liquordense', 'popdense', 'housedense'].first().reset_index()
nydfc

KeyError: "Columns not found: 'popdense', 'liquordense', 'housedense'"

In [79]:
#save final data frame
sfdfc.to_csv('sfdfc.csv')
nydfc.to_csv('nydfc.csv')

In [80]:
sfdfc = pd.read_csv('sfdfc.csv', index_col = 0)
nydfc = pd.read_csv('nydfc.csv', index_col = 0)

In [81]:
sfdfc.head(5)

,GEOID,INTPTLAT,INTPTLONG,liquordense,popdense,housedense,liquordensereal,popdensereal,housedensereal
0,6075010100,37.808420,-122.408579,0.000058,0.004815,0.002920,0.024937,-0.117402,-0.095113
1,6075010200,37.805861,-122.422925,0.000008,0.008036,0.005759,-0.097494,-0.065723,-0.019751
2,6075010300,37.801620,-122.415681,0.000004,0.014359,0.008726,-0.107325,0.035747,0.059028
3,6075010400,37.802273,-122.407558,0.000003,0.013537,0.008590,-0.109152,0.022563,0.055407
4,6075010500,37.802684,-122.399059,0.000026,0.003927,0.002903,-0.052199,-0.131651,-0.095541

In [57]:
sfdfc['liquordensereal'] = (sfdfc['liquordense'] - sfdfc['liquordense'].mean())/(sfdfc['liquordense'].max() - sfdfc['liquordense'].min())
sfdfc['popdensereal'] = (sfdfc['popdense'] - sfdfc['popdense'].mean())/(sfdfc['popdense'].max() - sfdfc['popdense'].min())
sfdfc['housedensereal'] = (sfdfc['housedense'] - sfdfc['housedense'].mean())/(sfdfc['housedense'].max() - sfdfc['housedense'].min())

In [62]:
nydfc['liquordensereal'] = (nydfc['liquordense'] - nydfc['liquordense'].mean())/(nydfc['liquordense'].max() - nydfc['liquordense'].min())
nydfc['popdensereal'] = (nydfc['popdense'] - nydfc['popdense'].mean())/(nydfc['popdense'].max() - nydfc['popdense'].min())
nydfc['housedensereal'] = (nydfc['housedense'] - nydfc['housedense'].mean())/(nydfc['housedense'].max() - nydfc['housedense'].min())

In [55]:
sfdfc['liquordensereal'].describe()

count    1.600000e+02
mean    -5.551115e-18
std      1.722049e-01
min     -1.160176e-01
25%     -1.045434e-01
50%     -6.454578e-02
75%      3.119830e-02
max      8.839824e-01
Name: liquordensereal, dtype: float64

In [63]:
nydfc

,GEOID,INTPTLAT,INTPTLONG,liquordense,popdense,housedense,liquordensereal,popdensereal,housedensereal
0,36001001802,42.669019,-73.820419,5.246758e-07,0.002002,0.001087,-0.065448,-0.215562,-0.144378
1,36005000200,40.804573,-73.856859,4.392496e-06,0.009519,0.003182,-0.060586,-0.122028,-0.101289
2,36005000400,40.808915,-73.850488,7.672133e-06,0.006031,0.002086,-0.056464,-0.165422,-0.123836
3,36005001600,40.818848,-73.858076,6.184560e-06,0.011633,0.004125,-0.058334,-0.095714,-0.081906
4,36005001900,40.800999,-73.909373,8.517608e-06,0.001166,0.000369,-0.055401,-0.225964,-0.159138
5,36005002000,40.817580,-73.866096,2.022419e-05,0.022072,0.007925,-0.040685,0.034190,-0.003773
6,36005002300,40.809084,-73.925846,9.567364e-06,0.047196,0.017059,-0.054081,0.346829,0.184006
7,36005002500,40.807003,-73.920878,1.723881e-04,0.043027,0.015664,0.150588,0.294946,0.155329
8,36005002701,40.805051,-73.916329,3.608371e-05,0.037443,0.012930,-0.020750,0.225463,0.099122
9,36005002702,40.806437,-73.913737,8.261049e-05,0.028437,0.008782,0.037736,0.113395,0.013842
10,36005002800,40.822518,-73.878234,7.186042e-06,0.013380,0.005763,-0.057075,-0.073971,-0.048227
11,36005003100,40.809876,-73.905695,2.559312e-05,0.010218,0.003525,-0.033937,-0.113323,-0.094235
12,36005003300,40.808223,-73.911925,5.971219e-05,0.022644,0.007869,0.008952,0.041308,-0.004937
13,36005003500,40.810965,-73.908670,7.042006e-05,0.026485,0.009521,0.022412,0.089103,0.029029
14,36005003700,40.811442,-73.912187,5.965377e-06,0.001462,0.000811,-0.058609,-0.222290,-0.150038
15,36005003900,40.809722,-73.921426,7.862726e-05,0.029948,0.009976,0.032729,0.132194,0.038397
16,36005004001,40.828272,-73.858335,8.120508e-06,0.011531,0.004677,-0.055900,-0.096984,-0.070551
17,36005004100,40.811386,-73.919410,3.789253e-05,0.033167,0.011276,-0.018476,0.172252,0.065111
18,36005004200,40.823931,-73.862006,4.137660e-06,0.014778,0.005714,-0.060907,-0.056584,-0.049236
19,36005004300,40.813621,-73.917038,5.324034e-05,0.022432,0.008177,0.000817,0.038667,0.001397
20,36005004400,40.826530,-73.866368,1.898405e-05,0.018213,0.006386,-0.042244,-0.013830,-0.035417
21,36005004600,40.822421,-73.869174,2.218804e-05,0.011501,0.004793,-0.038217,-0.097361,-0.068182
22,36005004800,40.827004,-73.874324,7.411300e-05,0.026162,0.009358,0.027054,0.085082,0.025691
23,36005005001,40.824997,-73.877853,7.150957e-05,0.048698,0.016151,0.023782,0.365523,0.165345
24,36005005002,40.827363,-73.878435,1.229138e-04,0.051123,0.017445,0.088398,0.395704,0.191950
25,36005005100,40.813308,-73.927382,2.248142e-05,0.011874,0.004069,-0.037848,-0.092713,-0.083057
26,36005005200,40.825642,-73.882436,2.739066e-05,0.011126,0.004366,-0.031677,-0.102024,-0.076952
27,36005005300,40.851772,-73.922183,7.441251e-05,0.069486,0.028411,0.027431,0.624214,0.417405
28,36005005400,40.829887,-73.879781,3.504854e-05,0.029306,0.009668,-0.022051,0.124203,0.032064
29,36005005600,40.832612,-73.879076,2.937116e-05,0.019906,0.007504,-0.029187,0.007238,-0.012429
...,...,...,...,...,...,...,...,...,...
1956,36085020801,40.548656,-74.209528,4.622542e-06,0.003458,0.001279,-0.060297,-0.197445,-0.140416
1957,36085020804,40.535804,-74.199533,1.503055e-06,0.004000,0.001525,-0.064218,-0.190696,-0.135367
1958,36085021300,40.632616,-74.138903,2.421681e-05,0.006852,0.002155,-0.035667,-0.155210,-0.122405
1959,36085022300,40.637680,-74.151892,5.162003e-06,0.003717,0.001208,-0.059619,-0.194227,-0.141884
1960,36085022600,40.539521,-74.230812,4.327790e-06,0.001050,0.000344,-0.060668,-0.227414,-0.159651
1961,36085022800,40.575224,-74.186742,9.321450e-07,0.000011,0.000004,-0.064936,-0.240342,-0.166641
1962,36085023100,40.630124,-74.156321,1.518111e-05,0.007899,0.002591,-0.047025,-0.142179,-0.113449
1963,36085023900,40.629540,-74.149331,1.326489e-05,0.006159,0.002069,-0.049433,-0.163838,-0.124173
1964,36085024401,40.508673,-74.238618,1.903590e-06,0.002771,0.001019,-0.063715,-0.205993,-0.145760
1965,36085024402,40.499787,-74.238471,1.001421e-06,0.002133,0.000846,-0.064849,-0.213940,-0.149331
1966,36085024700,40.627509,-74.141797,1.239073e-05,0.005580,0.002042,-0.050532,-0.171040,-0.124726
1967,36085024800,40.517492,-74.243439,1.347509e-05,0.002778,0.001042,-0.049169,-0.205912,-0.145301
1968,36085025100,40.618041,-74.146033,1.701601e-06,0.004861,0.001873,-0.063969,-0.179981,-0.128217
1969,36085027301,40.600080,-74.152872,2.303087e-06,0.001257,0.000513,-0.063213,-0.224837,-0.156172
1970,36085027702,40.580089,-74.163645,6.202029e-06,0.004268,0.002069,-0.058312,-0.187370,-0.124185
1971,36085027706,40.590937,-74.161902,2.279795e-05,0.006725,0.002708,-0.037450,-0.156786,-0.111034
1972,36085027900,40.575221,-74.155219,7.628297e-07,0.000408,0.000139,-0.065149,-0.235406,-0.163856
1973,36085029102,40.611488,-74.190594,1.299873e-06,0.000320,0.000110,-0.064474,-0.236497,-0.164464
1974,36085029103,40.603550,-74.171136,4.920824e-06,0.003565,0.001387,-0.059922,-0.196113,-0.138208
1975,36085029104,40.613713,-74.163498,6.496324e-06,0.004375,0.001566,-0.057942,-0.186031,-0.134516
1976,36085030301,40.618888,-74.156210,8.399162e-06,0.006900,0.002565,-0.055550,-0.154615,-0.113991
1977,36085030302,40.623514,-74.158731,8.769276e-06,0.006981,0.002214,-0.055084,-0.153600,-0.121193
1978,36085031902,40.639795,-74.165745,1.448157e-06,0.007021,0.002504,-0.064287,-0.153112,-0.115239
1979,36085032300,40.636927,-74.176144,1.813252e-06,0.000324,0.000122,-0.063828,-0.236448,-0.164204
1980,36093032404,42.868641,-73.972714,4.649025e-08,0.000313,0.000132,-0.066049,-0.236580,-0.164001
1981,36103122300,40.730277,-73.415045,8.189617e-08,0.000354,0.000111,-0.066005,-0.236072,-0.164430
1982,36103159103,40.785578,-72.931059,2.132175e-07,0.000644,0.000179,-0.065840,-0.232468,-0.163040
1983,36113075000,43.689036,-73.873783,4.586075e-09,0.000015,0.000012,-0.066102,-0.240286,-0.166462
1984,36119002800,40.901062,-73.837179,3.600956e-06,0.008912,0.003669,-0.061581,-0.129571,-0.091276
1985,36119010400,41.015724,-73.879212,5.737063e-07,0.002247,0.000878,-0.065386,-0.212520,-0.148659

In [97]:
#recommendation system
#input:coordinates in SF
sflat = 37.794721
sflong = -122.408335
#find FIPS
sf_distance = defaultdict(int)
ny_rec = defaultdict(int)
for i in range(len(sfdfc)):
    sf_distance[i] = np.sqrt((sflat - sfdfc['INTPTLAT'][i])**2 + (sflong - sfdfc['INTPTLONG                                                                                                                  '][i])**2)
for index, v in sf_distance.iteritems():
    if v == min(sf_distance.values()):
        j = index
#how many recommendation you want?
n = 20
sf_l = sfdfc['liquordensereal'][j:j+1].values[0]
sf_p = sfdfc['popdensereal'][j:j+1].values[0]
sf_h = sfdfc['housedensereal'][j:j+1].values[0]
for q in range(len(nydfc)):
    ny_rec[q] = (np.sqrt((sf_l - nydfc['liquordensereal'][q])**2)
     + np.sqrt((sf_p - nydfc['popdensereal'][q])**2) +
    np.sqrt((sf_h - nydfc['housedensereal'][q])**2))

In [98]:
res = sorted(ny_rec.items(), key = lambda x:x[1])
res_coor = []
for c in range(n):
    index = res[:n][c][0]
    lat = nydfc['INTPTLAT'][index]
    lon = nydfc['INTPTLONG                                                                                                                  '][index]
    if lat < 40.89 and lon > -74.049835 and lon < -73.81:
        co = (lat, lon)
        res_coor.append(co)

In [21]:
nydfc.columns

Index([u'Unnamed: 0', u'GEOID', u'INTPTLAT',
       u'INTPTLONG                                                                                                                  ',
       u'liquordense', u'popdense', u'housedense'],
      dtype='object')

In [24]:
index = res[:n][0][0]
lat = nydfc['INTPTLAT'][index]
lon = nydfc['INTPTLONG                                                                                                                  '][index]
co = (lat, lon)
co

(40.644630399999997, -74.071988700000006)

In [76]:
nydfc.head(5)

,GEOID,INTPTLAT,INTPTLONG,liquordense,popdense,housedense,liquordensereal,popdensereal,housedensereal
0,36001001802,42.669019,-73.820419,5.246758e-07,0.002002,0.001087,-0.065448,-0.215562,-0.144378
1,36005000200,40.804573,-73.856859,4.392496e-06,0.009519,0.003182,-0.060586,-0.122028,-0.101289
2,36005000400,40.808915,-73.850488,7.672133e-06,0.006031,0.002086,-0.056464,-0.165422,-0.123836
3,36005001600,40.818848,-73.858076,6.184560e-06,0.011633,0.004125,-0.058334,-0.095714,-0.081906
4,36005001900,40.800999,-73.909373,8.517608e-06,0.001166,0.000369,-0.055401,-0.225964,-0.159138

In [69]:
res_coor

[(40.749731400000002, -73.9915412),
 (40.753647600000001, -73.974742200000009),
 (40.720570100000003, -73.999391200000005),
 (40.754775200000005, -73.987870200000003),
 (40.755227900000001, -73.977746299999993),
 (40.759423799999993, -73.974449300000003),
 (40.760779100000001, -73.977672900000002),
 (40.752250500000002, -73.989702799999989),
 (40.758065299999998, -73.971231799999998),
 (40.757166099999999, -73.993552799999989),
 (40.723765800000002, -73.952361999999994),
 (40.702068799999999, -74.007209500000002),
 (40.751969500000001, -73.984094200000001),
 (40.762173400000002, -73.812443400000006),
 (40.762603999999996, -73.972131099999999),
 (40.758979600000004, -73.833250099999987),
 (40.755014700000004, -73.921925799999997),
 (40.774420599999999, -73.913346400000009)]

In [100]:
nyr = gmaps.Map()
nyr_hm = gmaps.Heatmap(data = res_coor)
nyr_hm.point_radius = 20
nyr_hm.opacity = 0.75
nyr.add_layer(nyr_hm)
nyr